<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwqf2hCTjhdbO3s5ZDJk0c5IhDkDFl1HU</string>
	<key>GCM_SENDER_ID</key>
	<string>1008221159491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunastorm.Scrolly</string>
	<key>PROJECT_ID</key>
	<string>myfirebase-b3d8e</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebase-b3d8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008221159491:ios:40c83e4dfbfd48335114f6</string>
</dict>
</plist>